<div class="container">

    <div class="row text-center">
      <h2>404 Page Not Found</h2>
	  <p>The page you requested does not exist. Are you lost?</p>
      <p>Click <a href="/collections/all">here</a> to continue shopping.</p>
      <img src="{{ 'illustration-map.PNG' | asset_url }}">
    </div>

</div>