<div class="container">
    <div class="row">
      <ul class="simple-list">
        {% for collection in collections %}
        <li><a href="{{ collection.url }}">{{ collection.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
</div>

